@model Currency
@{
    ViewBag.Title = "Details";
}



<div class="card mt-3">
    <div class="card-header text-center">
        <h4 class="card-title"> Currency Details</h4>
    </div>
    <div class="card-body">
        <h5 class="card-text">Id : @Model.Id</h5>
        <h5 class="card-text">Code :@Model.CurrencyCode</h5>
        <h5 class="card-text">Name: @Model.CurrencyName</h5>
    </div>
    <div class="card-footer text-center">
        <a asp-action="ListCurrency" asp-controller="Settings" class="btn btn-outline-danger ml-2" style="width:auto;"><i class="fa fa-backward"></i> Back</a>
        <a asp-action="EditCurrency" asp-controller="Settings" asp-route-Id="@Model.Id" class="btn btn-outline-primary" style="width:auto;"><i class="fa fa-edit"></i> Edit</a>

    </div>
</div>

