@model MainItemViewModel
@{
    ViewData["Title"] = "Edit";
}


<form method="post" class="mt-3">
    <div class="card mt-3">
        <div class="card-header card-title text-center"><h5>Edit Main Item Data</h5></div>
        <div class="card-body ">
            <div class="input-group col-sm-12 mt-1 row">
                <span class="input-group-text col-sm-2 " id="Id-addon">Id</span>
                <input asp-for="Id" class="form-control col-sm-2" disabled placeholder="Id" aria-describedby="Id-addon" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>

            <div class="input-group col-sm-12 mt-1 row">
                <span class="input-group-text col-sm-2 " id="MainItemName-addon">Name</span>
                <input asp-for="MainItemName" class="form-control col-sm-2" placeholder="Name" aria-describedby="MainItemName-addon" />
                <span asp-validation-for="MainItemName" class="text-danger"></span>
            </div>
            <div class="input-group row col-sm-12">
                <span class="input-group-text col-sm-2 col-form-label">Item Category</span>
                @Html.DropDownListFor(x => Model.ItemCategoryId, new SelectList(Model.ItemCategories, "Id", "CategoryName"), new { @class = "form-control" })
                <span asp-validation-for="ItemCategoryId" class="text-danger"></span>
            </div>
            <div class="input-group col-sm-12 mt-1 row">
                <span class="input-group-text col-sm-2 " id="OtherInformation-addon">Other Information</span>
                <input asp-for="OtherInformation" class="form-control col-sm-2" placeholder="Other Information" aria-describedby="OtherInformation-addon" />
                <span asp-validation-for="OtherInformation" class="text-danger"></span>
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>

        </div>
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-outline-primary" style="width:auto;"><i class="fa fa-save"></i> Save</button>
            <a asp-action="ListItemCategory" asp-controller="Settings" class="btn btn-outline-danger ml-2" style="width:auto;"><i class="fa fa-times"></i> Cancel</a>
        </div>
    </div>
</form>