@model ItemCategoryDetailsViewModel
@{
    ViewBag.Title = "Details";
}



<div class="card mt-3">
    <div class="card-header text-center">
        <h4 class="card-title"> Item Category Details</h4>
    </div>
    <div class="card-body">
        <div class="input-group col-sm-12 mt-1 row">
            <span class="input-group-text col-sm-2 " id="Id-addon">Id</span>
            <span class="form-control col-sm-8" placeholder="Id" aria-describedby="Id-addon"> @Model.ItemCategory.Id</span>
        </div>
        <div class="input-group col-sm-12 mt-1 row">
            <span class="input-group-text col-sm-2 " id="CategoryName-addon">Category Name</span>
            <span class="form-control col-sm-8" placeholder="Category Name" aria-describedby="CategoryName-addon"> @Model.ItemCategory.CategoryName</span>
        </div>
        <div class="input-group col-sm-12 mt-1 row">
            <span class="input-group-text col-sm-2 " id="OtherInformation-addon">Other Information</span>
            <span class="form-control col-sm-8" placeholder="Other Information" aria-describedby="OtherInformation-addon"> @Model.ItemCategory.OtherInformation</span>
        </div>


    </div>
    <div class="card-footer text-center">
        <a asp-action="ListItemCategory" asp-controller="Settings" class="btn btn-outline-danger ml-2" style="width:auto;"><i class="fa fa-backward"></i> Back</a>
        @if (Model.Permission.CanEdit) { 
            <a asp-action="EditItemCategory" asp-controller="Settings" asp-route-Id="@Model.ItemCategory.Id" class="btn btn-outline-primary" style="width:auto;"><i class="fa fa-edit"></i> Edit</a>
        }
    </div>
</div>

@section Scripts{
    <script>
            $(window).ready(function () {
                $('#mnuTMS').removeClass('collapse show');
                $('#mnuSettings').addClass('collapse show');
                $('#mnuTMS').addClass('collapse hide');
            });
    </script>
}