@model ListItemUnitsViewModel
@{
    ViewData["Title"] = "Item Unit List";
}
<!----------------------Confirm Delete -->
<div class="modal fade" id="dlgConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title" id="exampleModalLabel">title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span><h5 class="card-text">Are you sure you want to delete?</h5></span>
                <input id="txtDeleteItemID" type="text" hidden placeholder="text" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" style="width:auto;"><i class="fa fa-times"></i> cancel</button>
                <button id="btnSave" data-dismiss="modal" onclick="ValidateDelete()" type="button" class="btn btn-outline-danger" style="width:auto;"><i class="fa fa-trash"></i> Delete </button>
            </div>
        </div>
    </div>
</div>
<!----------------------Inform Dialog -->
<div class="modal fade" id="dlgInform" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span id="ErrorMessage" class="card-text">Are you sure you want to delete?</span>
                <input id="txtDeleteItemID" type="text" hidden placeholder="text" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" style="width:auto;"><i class="fa fa-times"></i> close </button>
            </div>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-header">
        <div class="flex-container text-center">
            <span class="col-11"><h5>Item Units List</h5></span>
            @if (Model.userPermission.CanAdd) { 
                <a class="btn btn-outline-secondary mb-3" style="width:auto" asp-action="CreateItemUnit" asp-controller="Settings"><i class="fa fa-plus-circle"></i></a>
            }
        </div>
    </div>


    <div style="border:solid 1px black; padding:3px;">
        <table class="table table-hover gridtable" id="myTable">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th style="width:30px;"></th>
                    @if (Model.userPermission.CanDelete) { 
                        <th style="width:30px;"></th>
                    }

                </tr>
            </thead>
            @foreach (var itemUnit in Model.ItemUnits)
            {
                <tr>
                    <td>@itemUnit.Id</td>
                    <td>@itemUnit.ItemUnitName</td>
                    <td><a class="btn btn-outline-primary btn-sm rounded-circle" asp-action="ItemUnitDetails" asp-controller="Settings" asp-route-Id="@itemUnit.Id" style="width:auto"><i class="fa fa-eye"></i></a></td>
                    @if (Model.userPermission.CanDelete)
                    {
                        <td>
                            <a href="#" class="btn btn-outline-danger rounded-circle btn-sm" style="width:auto"
                               onclick="contDelete('@itemUnit.Id',true)"><i class="fa fa-trash"></i></a>
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</div>
@section Scripts{
    <script src="~/js/CustomScript.js"></script>
    <script>
        $(window).ready(function () {
            $('#mnuTMS').removeClass('collapse show');
            $('#mnuSettings').addClass('collapse show');
            $('#mnuTMS').addClass('collapse hide');
        });

        //---------------Confirm Item Delete
        function contDelete(ItemId) {
            $('#txtDeleteItemID').val(ItemId);
            $('#dlgConfirmDelete').modal('show');
        };

        //-------------- Delete Item Button
        function DeleteItem() {
            $.post('/Settings/DeleteItemUnit',
                {
                    Id: $('#txtDeleteItemID').val()
                },
                function (response, status) {
                    location.reload(true);

                }
            );
        };


        //-------------- Validate Delete
        function ValidateDelete() {
            $.post('/Settings/ValidateDelete',
                {
                    Id: $('#txtDeleteItemID').val()
                },
                function (response, status) {
                    if (response == "") {
                        DeleteItem();
                    } else {
                        $('#ErrorMessage').text(response);
                        $('#dlgInform').modal('show');
                    }
                    //location.reload(true);

                }
            );
        };
    </script>
}
