@model List<MSIS.ViewModels.TaskDetailsViewModel>
@{
    ViewData["Title"] = "TaskReport";
}

<!-- Search -->
<div id="toolbar" class="bg-light" style="padding-left:10px; padding-top:10px; padding-bottom:10px;width:auto">
    <button type="button" class="btn btn-outline-secondary" data-toggle="collapse" data-target="#divCriteria" style="width:auto;">
        <i class="fa fa-search"></i>
        Search
    </button>
    <button class="btn btn-outline-secondary" id="printReport" style="width:auto"><i class="fa fa-print"></i> Print</button>
    <br />

    <div class="collapse" id="divCriteria">


    </div>
    
    <hr />
    <div id="printArea">
        <div class="flex-container "style="border-bottom:3px solid black;">
            <div class="col-sm-3">
                <img src="~/images/msisLogo.jpg" style="width:80px;height:80px;"/>
            </div>
            <div class="col-sm-6 ">
                <h1 style="text-align:center;font-size:24px;"><b>كشف المهام</b></h1>
            </div>
            <div class="col-sm-3" >
                <h1 style="text-align:center;font-size:16px;">
                    <b>شركة ملتي سوليوشنز(حلول متعددة)</b>
                    <br />
                    <b>للاستثمار والتوريدات</b>
                    <br />
                    <b>
                        Multi Solutions for Investment
                    </b>
                    <br />
                    <b>
                        & Supplies
                    </b>
                </h1>
            </div>
        </div>
        <div class="flex-container">
            <span id="dtToday" style="text-align:right">@DateTime.Today.ToString("dd/MM/yyyy")</span>
        </div>
        <div id="showWaiting"></div>
    </div>
    <br/>
    <hr />
    <br />
</div>

@section Scripts{
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/js/CustomScript.js"></script>
    <script src="~/lib/printthis/printThis.js"></script>

    <script>

        InitDatepicker();

        $('#printReport').on('click', function () {
            $('#printArea').printThis({
                impoimportCSS: true
            });
        });
        $.ajax({
            url: '/Tasks/TaskReportsSearch',
            type: 'Get',
            success: function (response) {
                $('#divCriteria').html(response);
            }
        });
    </script>
}