@model MSIS.ViewModels.CreateProjectViewModel
@{
    ViewBag.Title = "Create";
}


<form method="post" class="mt-3">
    <div class="card mt-3">
        <div class="card-header card-title text-center"><h5>Add New Project</h5></div>
        <div class="card-body ">
            <div class="input-group col-sm-12 mt-1 row">
                <span class="input-group-text col-sm-2 " id="ProjectName-addon">Project Name</span>
                <input asp-for="ProjectName" class="form-control col-sm-10" placeholder="Project Name" aria-describedby="ProjectName-addon" />
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>

            <div class="input-group col-sm-12 mt-1 row">
                <span class="input-group-text col-sm-2 " id="Address-addon">Address</span>
                <input asp-for="Address" class="form-control col-sm-10" placeholder="Address" aria-describedby="Address-addon" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>


            <div class="input-group col-sm-12 mt-1 row">
                <span class="input-group-text col-sm-2 " id="Email-addon">Email</span>
                <input asp-for="Email" class="form-control col-sm-10" placeholder="Email" aria-describedby="Email-addon" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="input-group col-sm-12 mt-1 row">
                <span class="input-group-text col-sm-2 " id="Fax-addon">Fax</span>
                <input asp-for="Fax" class="form-control col-sm-4" placeholder="Fax" aria-describedby="Fax-addon" />
                <span asp-validation-for="Fax" class="text-danger"></span>
            </div>

            <div class="input-group col-sm-12 mt-1 row">
                <span class="input-group-text col-sm-2 " id="MobileNo-addon">Mobile No</span>
                <input asp-for="MobileNo" class="form-control col-sm-4" placeholder="Mobile No" aria-describedby="MobileNo-addon" />
                <span asp-validation-for="MobileNo" class="text-danger"></span>
            </div>



            <div class="input-group col-sm-12 mt-1 row">
                <span class="input-group-text col-sm-2 " id="ProjectOwner-addon">Project Owner</span>

                    @Html.DropDownListFor(x => Model.ProjectOwner, new SelectList(Model.Customers, "Id", "CustomerName"), new { @class = "form-control" })
                    <span asp-validation-for="ProjectOwner" class="text-danger"></span>
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>

        </div>
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-outline-primary" style="width:auto;"><i class="fa fa-save"></i> Save</button>
            <a asp-action="ListProjects" asp-controller="Projects" class="btn btn-outline-danger ml-2" style="width:auto;"><i class="fa fa-times"></i> Cancel</a>
        </div>
    </div>
</form>
